<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a snack</title>
</head>
<body>
    <h1>New Snack</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <!-- if field.widget .... means ignore hidden field, and is for CSRF token -->
        {% for field in form if field.widget.input_type != 'hidden' %}  
            <p>
                {{field.label }}
                <!-- put field in paragraph tag -->
                    {{field}}
                </p>
            {% endfor %}
        <button>Submit</button>
    </form>
    
</body>
</html>